$taskBarBackground: #6C729B;
$taskBarIconSize: 48px;

.taskbar {
	z-index: 1;
	background-color: $taskBarBackground;
	position: absolute;
	bottom: 0;
	left: 100px;
	width: 60%;
	padding: 10px;
	left: 20%;

	.app-icon {
		width: $taskBarIconSize;
		height: $taskBarIconSize;
		//background-color: red;
		float: left;

		margin-left: 5px;
		margin-right: 5px;
		background: red;

		&[data-icon='calculator'] {
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAB7klEQVR4Xu1bO0oFQRD0HUARMTRVr2BgbCqKJzHxDiaexM8BDMz0DPJCMxHRC2gNGPg22OlytnpHKKEjq3811TPNg12sxf52AbuEHcK2Yy6zoV6R+QF2DnupVbGoAfD/fdgTbDOA7QnyhmIOYMuxoiIE3CHAcU+dEbVcA3vWSsAnAqwTSXuCftSUG1HA16CjiM+cJFD1RpqhAs7Z+U9uql4TEDgxitFAPDWEqtcKCBwHxWggnhpC1WsFBI6DYjQQTw2h6rUCAsdBMRqIp4ZQ9VoBgeOgGA3EU0Ooev+iAHUDU8cf7dEEBOgeSirg0hXECmj9QcQK6ErQfDEeAY/ACANTPIO1GNRiglpb8cN25SNgAir3UuuJsgRbAQMGPALqV4CVqBrvEfAIrDIgvwP45TTXwwSoL8Hc8+SzWQFqBaifNTa+n0E/g8nPICtRNd4j4BHwCKwwIN8D1DPNxk+/A/jdLNdDroDcdvhsJkC9CvNnkushVwB7Sanx6ZeguiE2vgnwJuhN0Jvgbwb8Cqj3APaWVuPTX4HctYbPJh8BvqRcDxOgvgNyz5PP1qyA8vHhBp+3C49JPpy8QSsnXbTDF3ELl9PWEdhDgEfYFp9/Vo93ZC8fTz+3ElD8d2BXsKN/MA7lW+d72AVs9Mvx0tg3+LiiQXH0lysAAAAASUVORK5CYII=);
			background-repeat: no-repeat;
			background-color: inherit;
			background-size: cover;
		}

		&:hover {
			cursor: pointer;
		}
	}
}
