.appContainer {
  position: absolute;
  left: 2.5%;
  right: 2.5%;

  margin: 15px 10px;
  top: 5%;
  bottom: 5%;
  overflow: hidden;

  /* From: http://www.alessioatzeni.com/mac-osx-lion-css3/# */
  background: -webkit-linear-gradient(#CDCDCD, #CDCDCD 25px, #EDEDED, #EDEDED 23px);

  box-shadow: inset 0 1px 0
    rgba(255,255,255,.6), 0 22px 70px 4px
    rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);

  border-radius: 6px;

  iframe {
    border-width: 0;
  }
  .titleBar {

    display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-user-select: none;

    .title {
      flex: 1;
      text-shadow: 0 1px 1px #e7e7e7;
      text-align: center;
      text-transform: capitalize;
      &:hover {
        cursor: default;
      }
    }

    .buttons {
      left-margin: auto;

      .close-btn {
        margin-right: 5px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  // Drop overlay
  .dropTarget {
    border-style: dashed;
    border-width: 5px;
  }
}

.appInnerContainer {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.app-window {
  width: 100%;
  height: 100%;
}
