@profilePictureSize: 48px;
@smallSidebarPadding: 20px;
@sidebarColor: rgb(173, 146, 146);

.sidebar {
    height: 100%;
    float: left;
    display: block;
    width: 25%;
}

#sidebar,
#users-box {
  background-color: @sidebarColor;
  opacity: 0.8;
  transition: opacity .5s ease-in;

  .page-header {
      text-align: center;
      font-size: 2em;
      margin-bottom: 30px;
  }

  .logged-in {
    background-color: darken(@sidebarColor, 20%);
  }

  .user {

    padding: 0 10px;

    .img-circle {
      width: @profilePictureSize;
      height: @profilePictureSize;
      display: block;
      margin: 5px auto;
    }

    .userName {
      padding: 5px;
      font-weight: 200;
    }

    vertical-align: middle;
    cursor: pointer;
  }

  .user:hover {
    background: #dde7f2;
    transition: background 0.5s;
  }
}

#sidebar:hover,
#users-box:hover {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.sidebar-small {
  width: (@profilePictureSize + @smallSidebarPadding);
}

.btn-logout {
  position: fixed;
  border: 0;
  padding: 10px;
  width: 68px;
  bottom: 0px;

}

.vcenter {
  display: flex;
  align-items: center;
}

.profileHeight {
  height: @profilePictureSize;
}

.padLR {
  padding-left: 20px;
  padding-right: 20px;
}

.names {
  font-size: 1.1em;
}

.user {
  display: flex;
  align-items: centre;
  img {
    flex-grow: 0;
    flex-shrink: 0;
    height: @profilePictureSize;
  }
}

.grey {
  color: #313131;
}
