@profilePictureSize: 48px;
@smallSidebarPadding: 20px;
@sidebarColor: rgb(173, 146, 146);

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    display: block;
    overflow: hidden;
}

#sidebar,
#users-box {
  padding: 10px 5px;
  background-color: @sidebarColor;
  opacity: 0.8;
  transition: opacity .5s ease-in;

  .page-header {
      text-align: center;
      font-size: 2em;
  }

  .user {

    .img-circle {
      width: @profilePictureSize;
      height: @profilePictureSize;
      display: block;
      margin: 0 auto;
      padding: 5px;

    }

    vertical-align: middle;
    cursor: pointer;
  }

  .user:hover {
    background: #dde7f2;
    transition: background 0.5s;
  }
}

#sidebar:hover,
#users-box:hover {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.sidebar-small {
  width: (@profilePictureSize + @smallSidebarPadding);
}

.btn-logout {
  position: fixed;
  bottom: 10px;
}
