@profilePictureSize: 48px;
@smallSidebarPadding: 20px;
@sidebarColor: #313031;

.sidebar {
    height: 100%;
    float: left;
    display: block;
    width: 25%;
}

#sidebar,
#users-box {
  background-color: @sidebarColor;
  opacity: 0.9;
  transition: opacity .5s ease-in;

  .page-header {
      text-align: center;
      font-size: 2em;
      margin-bottom: 30px;
  }

  .logged-in {
    background-color: darken(@sidebarColor, 10%);
  }

  .user {

    padding: 0 10px;
    transition: background 0.5s;

    .img-circle {
      width: @profilePictureSize;
      height: @profilePictureSize;
      display: block;
      margin: 5px auto;
      -webkit-user-select: none;
      -webkit-user-drag: none;
    }

    .userName {
      padding: 5px;
      font-weight: 200;
      color: #d0d0d0;
    }

    vertical-align: middle;
    cursor: pointer;
  }

  .wide {
    .user {
      padding-left: 5%;
    }
  }

  .user:hover {
    background: #dde7f2;
    transition: background 0.5s;

    .userName {
      color: #313031;
    }
  }
}

#sidebar:hover,
#users-box:hover {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.sidebar-small {
  width: (@profilePictureSize + @smallSidebarPadding);
}

.btn-logout {
  position: fixed;
  border: 0;
  padding: 10px;
  width: 68px;
  bottom: 0px;

}

.vcenter {
  display: flex;
  align-items: center;
}

.profileHeight {
  height: @profilePictureSize;
}

.padLR {
  padding-left: 20px;
  padding-right: 20px;
}

.names {
  font-size: 1.1em;
}

.user {
  display: flex;
  align-items: centre;
  img {
    flex-grow: 0;
    flex-shrink: 0;
    height: @profilePictureSize;
  }
}

.grey {
  color: #313131;
}

.loader {
  margin-top: 16px;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 0.3em solid rgba(255, 255, 255, 0.2);
  border-right: 0.3em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.3em solid rgba(255, 255, 255, 0.2);
  border-left: 0.3em solid #ffffff;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 18px;
  height: 18px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader {
  display: inline-block;
}

.nible-logo {
  width: 63%;
  margin: 25px auto;
  background: url('../images/logo.png');
  height: 12%;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.85;
  align-content: center;
}
