.search-btn {
  background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 7px center;
  border: 0;
  padding: 15px 0;
  width: 30px;
  content: '';
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-size: 55%;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  transition: box-shadow 0.5s;
}

.search-btn:hover {
  box-shadow: 0px 0px 5px #dde7f2;
  transition: box-shadow 0.5s;
}

#searchBox {
  position: relative;
  display: block;
  min-height: 60px;
  width: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 15%;
  background: #ece8ec;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 5px #2f3133;

  .searchResults {
    overflow-wrap: break-word;
    padding: 10px 20px;
  }

  .searchResults.active {
  }
}

// Old style for reference
#searchBar-none {

  position: relative;
  height: 48px;
  width: 35px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    margin: 0 auto;
    outline: none;

  }
  input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;

    position: fixed;
    z-index: 10;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none;
  }

  input[type=search] {
    background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: 0;
    padding: 9px 10px 9px 32px;
    width: 55px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;

  }

  input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
  }
  input[type=search]:hover {
    background-color: #fff;
  }
  input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
  }
  input:-moz-placeholder {
    color: transparent;
  }
  input::-webkit-input-placeholder {
    color: transparent;
  }
}
