.search-btn {
  background: #ededed;
  border: 0;
  padding: 5px 0;
  width: 28px;
  content: '';
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  transition: box-shadow 0.5s;
}

.search-btn:hover {
  box-shadow: 0px 0px 5px #dde7f2;
  transition: box-shadow 0.5s;
}

#searchBox {
  position: absolute;
  display: block;
  min-height: 58px;
  width: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 15%;
  z-index: 10;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;

  background: #f2edf2;
  box-shadow: 0px 0px 20px 0px rgba(65, 65, 65, 0.5);


  input[type=search] {
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 150%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 200;
    margin-top: 15px;
    margin-left: 10px;
    width: 80%;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  .searchResults {
    overflow-wrap: break-word;
    padding: 10px 10px;
    transition: background 0.25s;
  }

  .searchResults {

    li {
      padding: 20px 10px;
      list-style-type: none;
      font-weight: 200;
    }

    li.active {
      background: #dae0f2;
      transition: background 0.25s;
    }

  }

  .fileIcon {
    padding-right: 15px;
    color: #777478;
  }
}

.largerFind {
  color: #777478;
  padding-left: 15px;
}

.smallerFind {
  color: #777478;
  padding-left: 6px;
}

.fa.fa-search.fa-lg.largerFind {
  vertical-align: 5%;
}

.fa.fa-search.smallerFind {
  vertical-align: 4%;
}

// Old style for reference
#searchBar-none {

  position: relative;
  height: 48px;
  width: 35px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    margin: 0 auto;
    outline: none;

  }
  input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;

    position: fixed;
    z-index: 10;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none;
  }

  input[type=search] {
    background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: 0;
    padding: 9px 10px 9px 32px;
    width: 55px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;

  }

  input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
  }
  input[type=search]:hover {
    background-color: #fff;
  }
  input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
  }
  input:-moz-placeholder {
    color: transparent;
  }
  input::-webkit-input-placeholder {
    color: transparent;
  }
}
